.contacts {
    padding: 80px 0;
}

.contacts-inner {
    display: flex;
    padding-top: 45px;
    justify-content: space-around;
}

.contacts-map {
    position: relative;
}

.contacts-overfloy {
    position: absolute;
    background-color: #6a4c43;
    padding: 15px;
    width: 295px;
    top: 18px;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);

    &__item {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
    }

    &__icon {
        min-width: 20px;
        max-width: 20px;
        height: 20px;
        fill: #fff;
    }

    &__title {
        display: flex;
        margin-left: 13px;
        color: #f0ead8;
        font-size: 14px;
        font-family: 'SegoeUILight';
    }

    &__name {
        width: 160px;
        display: inline-block;
        color: #fff;
        font-size: 14px;
        font-family: 'SegoeUIBold';
    }
}

.contacts__item {
    display: flex;
    align-items: flex-start;

}

.contacts-form {
    display: flex;
    flex-direction: column;
    width: 442px;
    min-width: 150px;

    &__name, &__tel, &__email, &__message, &__text {
        padding: 10px 12px;
        margin-bottom: 14px;
        border-radius: 5px;
        color: #5e5654;
        font-size: 16px;
        font-family: 'SegoeUILight';
        opacity: 1;

        &::placeholder {
            color: #5e5654;
            font-size: 16px;
            font-family: 'SegoeUILight';
            opacity: 1;
        }

        &:focus,
        &:focus::placeholder {
            color: #5e5654;
            opacity: 1;
        }
    }

    &__tel, &__email, &__message, &__text {
        border: none;
        background-color: rgba(202, 190, 181, 0.4);
    }

    &__text {
        height: 79px;
        resize: none;
    }

    &__name {
        border: 1px solid #49322a;
    }

    &__button {
        display: flex;
        align-self: flex-start;
        font-size: 18px;
        color: #ede7d5;
        font-family: 'SegoeUIBold';
        padding: 16px 18px;
        border-radius: 5px;
        border: none;;
        background: #6a4c43;
        cursor: pointer;
        box-shadow: 0 -3px rgb(73, 50, 42) inset;
        transition: all .3s;

        &:hover,
        &:active {
            background: #49322a;
        }
    }
}

@media (max-width: 925px) {
    .contacts-inner {
        flex-direction: column;
    }

    .contacts-map {
        margin: 0 auto 20px;
    }

    .contacts-form {
        margin: 0 auto;
    }
}

@media (max-width: 470px) {
    .map {
        width: 400px;

    }
    .contacts-form {
        width: 400px;
    }
    .contacts {
        padding: 30px 0;
    }
}

@media (max-width: 425px) {
    .map {
        width: 350px;
    }
    .contacts-form {
        width: 350px;
    }
}

@media (max-width: 370px) {
    .map {
        width: 300px;
    }
    .contacts-form {
        width: 300px;
    }
}
