.master {
    padding: 63px 0;

    &__text {
        width: 50%;
        border-right: 1px solid #c9bebb;
        padding-right: 44px;
    }

    &__text-title {
        color: #2b1818;
        font-size: 34px;
        font-family: 'PTSerifRegular';
        text-align: right;
        margin-bottom: 28px;
    }

    &__text-subtitle {
        color: #978585;
        font-size: 16px;
        font-family: 'PTSansRegular';
        text-align: right;
    }
}

.master-container {
    display: flex;
}

.master-news {
    width: 50%;
    padding-left: 44px;

    &__title {
        color: #2b1818;
        font-size: 34px;
        font-family: 'PTSerifRegular';
        margin-bottom: 28px;
    }

    &__content {
        display: flex;
    }

    &__photo,
    &__image {
        min-width: 220px;
        min-height: 127px;
        position: relative;
        object-fit: cover;
    }

    &__date {
        position: absolute;
        background-color: rgba(#240a03, 0.6);
        padding: 7px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        font-size: 18px;
        font-family: 'PTSansBold';
        &::after {
            content: '';
            position: absolute;
            display: block;
            top: 36.5px;
            left: 0;
            border: 35.7px solid transparent;
            border-top: 11px solid rgba(#240a03, 0.6);
        }
    }

    &__text {
        width: 230px;
        margin-left: 22px;
    }

    &__text-title,
    &__text-subtitle {
        color: #978585;
        font-size: 16px;
        font-family: 'PTSansRegular';
        margin-bottom: 13px;
    }

    &__text-title {
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    &__text-subtitle {
        margin-bottom: 16px;
    }

    &__text-button {
        position: relative;
        background-color: #7b6863;
        color: #fff;
        padding: 9px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        font-family: 'PTSansRegular';
        transition: all .3s;

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: 0px;
            left: 86px;
            border: 19.7px solid transparent;
            border-left: 11px solid #7b6863;
            transition: all .3s;
        }

        &:hover {
            background-color: #907c78;
        }

        &:hover::after {
            content: '';
            position: absolute;
            display: block;
            top: 0px;
            left: 86px;
            border: 19.7px solid transparent;
            border-left: 11px solid #907c78;
        }
    }

}

@media (max-width: 992px) {
    .master-container {
        flex-direction: column;
    }

    .master__text {
        width: 100%;
        border-right: none;
        padding-right: 0;
    }

    .master__text-title {
        text-align: center;
    }

    .master__text-subtitle {
        text-align: center;
        margin-bottom: 20px;
    }

    .master-news {
        width: 100%;
        padding-left: 0;
    }

    .master-news__title {
        text-align: center;
    }

    .master-news__text {
        width: 100%;
    }

}




@media (max-width: 480px) {
    .master {
        padding: 30px 0;
    }
    .master-news__content {
        flex-direction: column;
    }

    .master-news__image, 
    .master-news__photo {
        margin: 0 auto;
    }

    .master-news__photo {
        margin-bottom: 20px;
    }

    .master-news__text {
        text-align: center;
    }

    .master-news__text {
        margin-left: 0;
    }

    .master__text-title,
    .master-news__title {
        font-size: 25px;
    }

    .master__text-subtitle,
    .master-news__text-subtitle, 
    .master-news__text-title {
        font-size: 15px;
    }
}